:root {
    --body-color: rgb(7, 8, 8);
    background-color: rgba(0, 0, 0, 0.782);
}
body{
    
    color: white;
    margin: 0;
    margin: 3vw;
}
a{
    color: white;
}
.background{
    background-image: url("/source/computer.jpg");
    background-size: cover;
    background-color: black;
    padding-bottom: 40vw;
    background-repeat: no-repeat;
    padding-top: 10px;
}
Nav {
    Display: Flex;
    Align-Items: Center;
    Justify-Content: Space-Between;
    Padding: 1.5vh 1vw;
  }
  /* CSS for NavBar Anchor Tag i.e. Links  */
Nav a {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
  }
#middle{
    display: grid;
    grid-template-columns: 37% 26% 37%;
    text-align: left;
    gap: 1vw;  
}
#journey #inside{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    gap: 1vw;  
}
#friends span{
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    gap: 1vw;  
}