:root {
    --body-color: rgb(7, 8, 8);
    background-color: rgba(0, 0, 0, 0.782);
}
body{
    
    color: white;
    margin: 0;
}
a{
    font-size: 1.5rem;
    color: white;
}
.background{
    background-image: url("/source/computer.jpg");
    background-size: cover;
    background-color: black;
    padding-bottom: 40vw;
    background-repeat: no-repeat;
    padding-top: 10px;
}

div *{
    margin-left: 1vw;
    margin-right: 1vw;
}
main{
    display: grid;
    grid-template-rows: auto auto;
    margin-right: 2vw;
    padding: 1vw;
}

main div {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    gap: 1vw;
}

Nav {
    /*Display: Flex;
    Align-Items: Center;
    Justify-Content: Space-Between;
    Padding: 1.5vh 1vw;*/
    float: right;
}

Nav a {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
  }
#tables{
    margin-left: auto; 
    margin-right: auto;
}
#School{
    text-align: center;
}
.contact{
    margin: 1%;
}
@media screen and (max-width: 750px) {
    body main div {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }
}
@media screen and (max-width: 450px) {
    body main div {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }
}